* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: sans-serif;
  padding: 90px 0;
  background: #FFCC00;
  position: relative;
  min-height: 100vh;
}

.header {
  background-color: #FFCC00;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.img {
  width: 190px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 8px;
}

.nav-menu-link:hover {
  background-color: #F6E394;
  transition: 0.5s;

}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;
  display: none;
}



.cgrupo-1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

}

.slider-box {
  position: relative;
  width: 1230px;
  height: auto;
  margin: 25px auto 0;
  overflow: hidden;
  z-index: -1;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 200%;
  animation: slide 20s infinite linear;
}

.slider-box li {
  width: 50%;
  list-style: none;
  position: relative;
 
}
.slider-box li img {
  width: 85%; 
  height: auto;
}


@keyframes slide {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 0;
  }

  30% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  55% {
    margin-left: -100%;
  }

  80% {
    margin-left: -100%;
  }

  85% {
    margin-left: 0;
  }

  100% {
    margin-left: 0;
  }
}

.prr1 {
  font-size: 40px;
  margin-top: 30px;

}

.btn-buscar {
  background: #F33E33;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 15px 45px;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}


.footer {
  background-color: #363941;
  color: white;
  height: 80px;
  bottom: 0;
  padding: 30px 15px;
  width: 100%;
  position: absolute;
}

.copy {
  text-align: center;
  font-size: 20px;

}

.tipo_pokemon {
  text-align: center;
  color: white;

}

.cuerpo {
  display: grid;
  place-items: center;
  height: 100vh;

}

.primera_parte {
  display: flex;


}

.datos {
  margin-top: 70px;
}

.pimagen {
  position: relative;
}

.fotopoke {
  position: relative;
  z-index: 9;
  height: 400px;
  width: 400px;
  background-position: center;
  background-size: cover;
  left: 350px;
  top: 150px;
}

.logopoke {
  position: relative;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
}

.imagen-poke {
  width: 450px;
  position: absolute;
  z-index: 10;
}

.id_poke {
  bottom: 255px;
  opacity: 0.5;
  font-size: 320px;
  font-weight: bold;
  position: relative;
  left: 80px;
  z-index: 8;
}

.poke_datos {
  display: flex;
  gap: 280px;
  font-size: 30px;
  margin-top: 10px;
}

.tipo_poke {
  font-size: 30px;
  margin-right: 200px;

}

.tipos_poke {
  font-size: 30px;
  color: white;
  margin-top: 30px;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 50px;

}

.nombre_poke {
  font-size: 80px;
}

.stats ul {
  list-style-type: none;
  font-size: 30px;
}

.stat-name {
  margin-right: 40px;
}

.bar-progres {
  margin-left: 30px;
}

.stat-item {
  display: flex;
  align-items: center;
}

.stats ul {

  display: inline-block;
}

.stat-info {
  margin-top: 30px;
}

.stats li {

  display: inline-block;

  margin-right: 50px;
}

.bar-progress {
  margin-left: 10px;
}

.estadisticas {
  font-size: 85px;
  margin-top: 120px;
}

.contenedor-adivinar-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div_pk {
  border: 10px solid white;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  background-color: rgba(228, 228, 228, 0.3);
 

}

.imagenpokemon {
  height: 320px;
  width: 320px;
  background-position: center;
  background-size: cover;
  filter: brightness(0);


}


.imagen_tipo_poke {
  height: 300px;
  width: 300px;
  background-color: rgb(141, 133, 133);
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}
.visible {
  opacity: 1;
}

.visible {
  opacity: 1;
}

.red-text {
  color: red;
}



.btn-jugar2 {
  color: white;
  background-color: #980000;
  border: none;
  font-size: 30px;
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 0px 7px 0px 0px #620000;
  height: 80px;
  margin-top: 20px;
}

.objetos{
  display: flex;
  gap: 50px;
}

.contador {
  width: 130px;
  height: 130px;
  background-color: #f0f0f0;
  border-radius: 50%;

}

.num-contador {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 140px;

}

.nombres-pokemon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 30px;
  justify-content: center;
}

.contenedor-poke {
  color: white;
  background-color: #FF8015;
  border: none;
  font-size: 40px;
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  width: 580px;
  height: 90px;
  box-shadow: 0px 7px 0px 0px #E05A13;
}

.cont-pokemon {
margin-bottom: 50px;
  display: grid;
  place-items: center;
  text-align: center;
  width: 1200px;
  
}

.busc {
  width: 510px;
  height: 70px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.5;
  color: #767676;
  text-indent: 30px;
}

.busc::placeholder {
  text-align: center;
}

.lupa {
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: 70px;
  font-size: 24px;
  opacity: 0.5;
  background-color: white;
  border: none;

}

.imagen-carga{
  position: relative;
  
}

.grupo2{
  position: absolute ;
  top: 105px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 170px;
}


.slider-box2 {
  top: 100px;
  position: relative;
  width: 530px;
  height: auto;
  overflow: hidden;
left: 180px;
  z-index: 5;
  
}



.slider-box2 ul {
  display: flex;
  padding: 0;
  width: 205%;
  animation: vuelta 20s infinite linear;
}

.slider-box2 li {
  width: 65%;
  list-style: none;
  position: relative;
 
}
.slider-box2 li img {
  width: 80%; 
  height: auto;
}

.prr2{
  margin-right: 50px;
}


@keyframes vuelta {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 0;
  }

  30% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }

  55% {
    margin-left: -100%;
  }

  80% {
    margin-left: -100%;
  }

  85% {
    margin-left: 0;
  }

  100% {
    margin-left: 0;
  }
}

.loading-image{
  width: 1400px;
}

.btn-jugar {
  color: white;
  background-color: #980000;
  border: none;
  font-size: 40px;
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 0px 7px 0px 0px #620000;
  margin-bottom: 10px;
  position: absolute;
  left: 1000px;
  top: 450px;
 
}
